<div class="jumbotron">
    <h1>Telemetry API</h1>
    <p class="lead">
        My idea is to build a telemetry service to collect data around my home and provide it to a
        webpage for display.
    </p>
    <p><a href="https://github.com/jcere/Telemetry" class="btn btn-primary btn-lg">The Code &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            I have created a data acquisition module using a Raspberry Pi writing to a SQLite database. The database
            is available on my home network and is connected to a telemetry service built using ASP.NET MVC/WebAPI and
            Entity Framework.
        </p>
        <p>
            <a class="btn btn-default" href="http://jordancere.blogspot.ca/2015/08/telemetry-data-acquisition.html">
                Learn more &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>For Your Viewing Pleasure</h2>
        <p>
            To view my data I have also built a simple web page using the default ASP views combined with a
            JavaScript library called Chart.Js
        </p>
        <p>
            <a class="btn btn-default" href="http://jordancere.blogspot.ca/2015/08/telemetry-web-api-web-page.html">
                Learn more &raquo;
            </a>
        </p>
    </div>
</div>
